In [3]:
sentence=input("Enter Sentence:").split()
count=0
unique_words=[]
for i in sentence:
    if i not in unique_words:
        count+=1
        unique_words.append(i)
print("Unique words count:",count)
print("Unique words:",unique_words)

Enter Sentence:python is easy and python is powerful
Unique words count: 5
Unique words: ['python', 'is', 'easy', 'and', 'powerful']

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highemp=""
highsalary=0
for name,salary in employees.items():
    if salary > highsalary:
        highsalary=salary
        highemp=name
print("Highest Salary:",highemp,"-",highsalary)

Highest Salary: Ravi - 75000

In [6]:
input_numbers=input("Enter the numbers by leaving one space aftet other:").split()
numbers=[]
for i in input_numbers:
    numbers.append(int(i))
maximum=numbers[0]
minimum=numbers[0]

for j in numbers:
    if j > maximum:
        maximum=j
    if j < minimum:
        minimum=j
print("Maximum:",maximum)
print("Minimum:",minimum)

Enter the numbers by leaving one space aftet other:45 22 89 10 66
Maximum: 89
Minimum: 10

In [7]:
prices = [450, 1200, 899, 1500, 300]
count=0
for i in prices:
    if i>1000:
        count+=1
print("Products above 1000: ",count)

Products above 1000:  2

In [8]:
attendance = ["P", "P", "A", "P", "P"]
count=0
for i in attendance:
    if i == "P":
        count += 1
percentage=count/len(attendance)*100
print("Attendance percentage:",percentage)

Attendance percentage: 80.0

In [9]:
phone_numbers = [9876543210, 9123456789, 9876543210]
numbers=[]
for i in phone_numbers:
    if i not in numbers:
        numbers.append(i)
print("Unique phone numbers: ",numbers)

Unique phone numbers:  [9876543210, 9123456789]

In [10]:
text=input("Enter the string:")
answer={}
for i in text:
    if i in answer:
        answer[i]+=1
    else:
        answer[i]=1
print(answer)

Enter the string:pytont
{'p': 1, 'y': 1, 't': 2, 'o': 1, 'n': 1}

In [11]:
inlist=[10, 20, 30]
intuple=tuple(inlist)
print(intuple)

(10, 20, 30)

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [16]:
numbers=input("Enter the numbers by leaving one space aftet other:").split()
added=0
for i in numbers:
    added=added+int(i)
total=added/len(numbers)
print(total)

Enter the numbers by leaving one space aftet other:100 100 100 100
100.0