In [ ]:
employees = {
"Ravi": 92,
"Anita": 88,
"Kiran": 92,
"Suresh": 85
}
hs=max(employees.items())
tp=[]
for name, values in employees.items():
    if values==hs:
        tp.append(name)
print(f"Top Performers Eligible for Bonus: {name}(Score: {values})")

Top Performers Eligible for Bonus: Suresh(Score: 85)

In [ ]:

query = "Buy mobile phone buy phone online"
query = query.lower()
import string
for p in string.punctuation:
    query = query.replace(p, "")
words = query.split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
result = {}
for key, value in freq.items():
    if value > 1:
        result[key] = value
print(result)

{'buy': 2, 'phone': 2}

In [ ]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]
valid_readings=[]
for i,r in enumerate(sensor_readings):
    if r%2==0:
        valid_readings.append((i,r))
print("Valid Sensor Readings (Hour, Value):")
print(valid_readings)

Valid Sensor Readings (Hour, Value):
[(1, 4), (3, 8), (4, 10), (5, 12)]

In [ ]:
emails = [
"ravi@gmail.com",
"anita@yahoo.com",
"kiran@gmail.com",
"suresh@gmail.com",
"meena@yahoo.com"
]
count_yahoo=0;
count=0;
for i in emails:
    if i.endswith("@gmail.com"):
        count=count+1

for i in emails:
    if i.endswith("@yahoo.com"):
        count_yahoo=count_yahoo+1
yvalue=count_yahoo/len(emails)*100
gvalue=count/len(emails)*100
print("yahoo.com:",yvalue, "%")
print("gmail.com:",gvalue, "%")

yahoo.com: 40.0 %
gmail.com: 60.0 %

In [12]:
sales = [1200, 1500, 900, 2200, 1400, 3000]
avg_sales=sum(sales) / len(sales)
fre=avg_sales * 1.3
for i in range(len(sales)):
    if sales[i]>fre:
        print(f"Day {i+1}:{sales[i]}")

Day 6:3000

In [19]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]
count={}
for i in user_ids:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
for j in count:
    if count[j]>1:
        print(f"{j}: {count[j]} times")

user1: 3 times
user3: 2 times